<br />
<div class="layout-footer">
    <div class="layout-footer-left">
        <span>Maricota Doces v1.0.0 By </span>
        <a href="http://github.com/smagnotto">Smagnotto</a>
    </div>

    <div class="layout-footer-right">
        <!-- TODO: Resolver icones -->
        <!-- <a href="https://github.com/primefaces/primeng" class="p-mr-3">
            <i class="fa fa-envira" aria-hidden="true"></i>
        </a>
        <a href="https://twitter.com/prime_ng" class="p-mr-3">
            <i class="pi pi-twitter"></i>
        </a>
        <i class="fa fa-bar-chart" aria-hidden="true"></i>
        <a href="https://discord.gg/gzKFYnpmCY" target="_blank">
            <i class="fa fa-bar-chart" aria-hidden="true"></i>
        </a> -->
    </div>
</div>