<p-card>
  <div class="p-grid">
    <!-- TODO: Corrigir Responsividade -->
    <div class="p-col-12 p-d-flex p-jc-start p-sm-center p-md-end p-xl-end">
      <h5>Cadastro de Insumos</h5>
    </div>
    <div class="p-col-12 p-d-flex p-jc-end p-sm-end p-md-end p-xl-end">
      <button pButton pRipple label="Adicionar" icon="pi pi-plus" [routerLink]="['/insumos/cadastro']"
        routerLinkActive="router-link-exact-active">
      </button>
    </div>

    <div class="p-col-12">
      <app-table-responsive [data]="produtos" [headers]="headers" [isLoading]="isLoading"
        (onEdit)="onEdit($event)" (onDelete)="onDelete($event)"></app-table-responsive>
    </div>
  </div>
</p-card>
