<p-card>
  <h5>Cadastro de Insumo</h5>
  <br />
  <div class="p-grid p-fluid">
    <div class="p-col-12 p-md-4">
      <span class="p-float-label">
        <input id="nome_insumo" type="text" pInputText>
        <label for="nome_insumo">Nome do produto</label>
      </span>
    </div>

    <div class="p-col-12 p-md-3">
      <span class="p-float-label">
        <p-inputNumber id="preco_insumo" mode="currency" currency="BRL" locale="pt-BR"></p-inputNumber>
        <label for="preco_insumo">Preço</label>
      </span>
      <small id="preco_insumo-help">Insira o valor referente a 1000g (1kg).</small>
    </div>

    <div class="p-col-12 p-md-2">
      <p-checkbox name="ativo" [binary]="true" label="Ativo"> </p-checkbox>
    </div>

    <div class="p-col-12 p-md-3">
      <div class="p-col-12 p-d-flex">
        <button pButton pRipple type="button" label="Cancelar" class="p-button-raised p-button-danger p-m-2" icon="pi pi-trash" iconPos="right"></button>
        <button pButton pRipple type="button" label="Salvar" class="p-button-raised p-m-2" icon="pi pi-check" iconPos="right"></button>
      </div>
     </div>
  </div>
</p-card>
