<form [formGroup]="produtosFormGroup">
  <div class="row">

    <mat-form-field>
      <mat-label>Nome do produto</mat-label>
      <input type="text" matInput #input formControlName="nomeProduto" required placeholder="Ex. Torta de limão"
        maxlength="30">
      <mat-hint align="end">Máx. 30 caracteres - {{input.value?.length || 0}}/30</mat-hint>
      <mat-error *ngIf="nomeProduto!.errors?.required">
        Nome do produto é<strong> obrigatório</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Preço</mat-label>
      <input matInput type="number" placeholder="10,00" required>
      <span matPrefix>R$&nbsp;</span>
      <mat-error *ngIf="precoProduto!.errors?.required">
        Preço do produto é<strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Materia Prima</mat-label>
      <mat-select formControlName="materiaPrima" multiple>
        <mat-select-trigger>
          {{materiaPrima!.value ? materiaPrima!.value[0] : ''}}
          <span *ngIf="materiaPrima!.value?.length > 1" class="example-additional-selection">
            (+{{materiaPrima!.value?.length === 2 ? 'outro' : 'outros'}} {{materiaPrima!.value.length - 1}})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let produto of listaProdutos" [value]="produto">{{produto}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="flex-container">
    <div class="button-container">
      <button mat-mini-fab color="warn" (click)="closeModal()">
        <mat-icon>clear_outlined</mat-icon>
      </button>
    </div>
    <div class="button-container">
      <button mat-mini-fab color="primary">
        <mat-icon>done</mat-icon>
      </button>
    </div>
  </div>


</form>
