<div class="p-fluid p-formgrid p-grid">
  <div class="p-field p-col-12 p-md-6">
    <span class="p-float-label">
      <input type="text" id="nomeProduto" pInputText>
      <label for="nomeProduto">Nome Produto</label>
    </span>
  </div>

  <div class="p-field p-col-12 p-md-4">
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">R$</span>
      <span class="p-float-label">
        <input type="text" id="preco" pInputText>
        <label for="preco">Preço</label>
      </span>
    </div>
  </div>

  <div class="p-field p-col-12 p-md-4">
    <span class="p-float-label">
      <p-autoComplete inputId="autocomplete" field="name"></p-autoComplete>
      <label for="autocomplete">AutoComplete</label>
    </span>
  </div>
  <div class="p-field p-col-12 p-md-4">
    <span class="p-float-label">
      <p-calendar inputId="calendar"></p-calendar>
      <label for="calendar">Calendar</label>
    </span>
  </div>
  <div class="p-field p-col-12 p-md-4">
    <span class="p-float-label">
      <p-chips inputId="chips"></p-chips>
      <label for="chips">Chips</label>
    </span>
  </div>
  <div class="p-field p-col-12 p-md-4">
    <span class="p-float-label">
      <label for="inputmask">InputMask</label>
    </span>
  </div>

  <div class="p-field p-col-12 p-md-4">
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">
        <i class="pi pi-user"></i>
      </span>
      <span class="p-float-label">
        <input type="text" id="inputgroup" pInputText>
        <label for="inputgroup">InputGroup</label>
      </span>
    </div>
  </div>

  <div class="p-field p-col-12">
    <span class="p-float-label">
      <textarea inputId="textarea" rows="3" cols="30" pInputTextarea></textarea>
      <label for="textarea">Textarea</label>
    </span>
  </div>
</div>
