<p-card>
  <h5>Cadastro de Produtos</h5>
  <br />
  <div class="p-grid p-fluid">
    <div class="p-col-12 p-md-4">
      <span class="p-float-label">
        <input id="nome_insumo" type="text" pInputText>
        <label for="nome_insumo">Nome do produto</label>
      </span>
    </div>

    <div class="p-col-12 p-md-3">
      <span class="p-float-label">
        <p-inputNumber id="preco_insumo" mode="currency" currency="BRL" locale="pt-BR" [disabled]="true">
        </p-inputNumber>
        <label for="preco_insumo">Preço</label>
      </span>
      <small id="preco_insumo-help">Valor Calculado Automaticamente (Trocar mensagem).</small>
    </div>

    <div class="p-col-12 p-md-2">
      <p-checkbox name="ativo" [binary]="true" label="Ativo"> </p-checkbox>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <div class="p-grid p-nogutter p-justify-between">
      <p-button label="Cancelar" (onClick)="cancel()" icon="pi pi-times" styleClass="p-button-danger"></p-button>
      <p-button label="Avançar" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
    </div>
  </ng-template>
</p-card>
