<form>
  <p-card>
    <p-table [value]="cadastroProdutoService.cadastroProduto.insumos">
      <ng-template #header>
        <tr>
          <th colspan="4">Insumos</th>
        </tr>
        <tr>
          <th style="width: 25%">Nome</th>
          <th style="width: 25%">Quantidade</th>
          <th style="width: 25%">Tipo</th>
          <th style="width: 25%">Valor</th>
        </tr>
      </ng-template>
      <ng-template #body let-insumo>
        <tr>
          <td>{{insumo.nome}}</td>
          <td>{{insumo.quantidade}}</td>
          <td>{{insumo.tipo}}</td>
          <td>{{insumo.valor | currency: 'BRL'}}</td>
        </tr>
      </ng-template>
    </p-table>

    <br />

    <p-table [value]="cadastroProdutoService.cadastroProduto.componentes">
      <ng-template #header>
        <tr>
          <th colspan="4">Produtos Componentes</th>
        </tr>
        <tr>
          <th style="width: 25%">Nome</th>
          <th style="width: 25%">Quantidade</th>
          <th style="width: 25%">Tipo</th>
          <th style="width: 25%">Valor</th>
        </tr>
      </ng-template>
      <ng-template #body let-componente>
        <tr>
          <td>{{componente.nome}}</td>
          <td>{{componente.quantidade}}</td>
          <td>{{componente.tipo}}</td>
          <td>{{componente.valor | currency: 'BRL'}}</td>
        </tr>
      </ng-template>
      <ng-template #footer>
        <tr>
          <td colspan="2" class="p-text-right"></td>
          <td>Custo: {{isLoadingSimulacao ? '...' : (custoProduto | currency: 'BRL')}}</td>
          <td>Preço: {{isLoadingSimulacao ? '...' : (precoProduto | currency: 'BRL')}}</td>
        </tr>
      </ng-template>
    </p-table>

    <ng-template #footer>
      <div class="p-grid p-nogutter p-justify-between">
        <p-button label="Voltar" (onClick)="prevPage()" icon="pi pi-angle-left" styleClass="p-button-danger"></p-button>
        <p-button label="Finalizar" (onClick)="finalizar()" icon="pi pi-angle-right" iconPos="right"
          styleClass="p-button-success"></p-button>
      </div>
    </ng-template>
  </p-card>
</form>
