<form [formGroup]="formLogin" (ngSubmit)="onSubmit(formLogin)">

  <div class="login-body">
    <div class="login-panel p-fluid">
      <div class="login-panel-header">
        <!-- <img src="assets/layout/images/logo-slim.png"> -->
      </div>
      <div class="login-panel-content">
        <div class="p-grid">
          <div class="p-col-12">
            <h1>Sign-in Maricota Doces</h1>
          </div>
          <div class="p-col-12">
            <p-float-label>
              <input id="email" type="text" pInputText formControlName="email"
                [ngClass]="{'ng-dirty': email?.invalid && (email?.dirty || email?.touched)}">
                <label for="email">Email</label>
              </p-float-label>
              @if (email?.invalid && (email?.dirty || email?.touched)) {
                <small class="p-error">
                Informe um e-mail válido</small>
              }
            </div>
            <div class="p-col-12">
              <p-float-label>
                <input id="password" type="password" pPassword pInputText formControlName="password"
                  [ngClass]="{'ng-dirty': password?.invalid && (password?.dirty || password?.touched)}">
                  <label for="password">Senha</label>
                </p-float-label>
                @if (password?.invalid && (password?.dirty || password?.touched)) {
                  <small class="p-error">
                  Informe a senha</small>
                }
              </div>
              <div class="p-col-12">
                <p-button label="Sign In" [disabled]="isLoading" type="submit" icon="pi pi-user" iconPos="left">
                  @if (isLoading) {
                    <i class="pi pi-spin pi-spinner p-button-icon p-button-icon-right" ></i>
                  }
                </p-button>
              </div>

              @if (error) {
                <div class="p-col-12">
                  @for (msg of mensagem; track msg) {
                    <p-message [severity]="$any(msg.severity)" [closable]="false">{{ msg.detail }}</p-message>
                  }
                </div>
              }
            </div>
          </div>
        </div>
      </div>
    </form>
