<div class="layout-wrapper">
  @if (isAuthenticated) {
    <app-topbar (menuButtonClick)="onMenuButtonClick()"></app-topbar>
  }
  @if (isAuthenticated) {
    <app-menu [active]="menuActive" (onClickMenus)="hideMenu()"></app-menu>
  }
  @if (isAuthenticated) {
    <div class="layout-mask" [ngClass]="{'layout-mask-active': menuActive}"
    (click)="onMaskClick()"></div>
  }

  <div class="layout-content">
    <div class="content-section" [ngClass]="{'documentation': isAuthenticated}">
      <router-outlet></router-outlet>
      @if (isAuthenticated) {
        <app-footer></app-footer>
      }
    </div>
  </div>
</div>
