<form [formGroup]="formCadastroInsumo">
  <p-card>
    <div class="p-col-12 p-md-12 p-d-flex p-jc-start">
      <h5>Vinculação de Insumos</h5>
    </div>

    <input type="text" formControlName="idInsumo" hidden />

    <div class="p-grid p-fluid">
      <div class="p-col-12 p-md-4 p-d-flex p-flex-column p-jc-center">
        <p-float-label>
          <input type="text" formControlName="nomeInsumo" hidden />

          <p-autocomplete [suggestions]="suggestions" (completeMethod)="search($event)" [dropdown]="true"
            (onSelect)="selecionaInsumo($event)" optionLabel="nome" [required]="true" formControlName="autoCompleteNomeInsumo"
            [forceSelection]="true"
            [ngClass]="{'ng-dirty': (nomeInsumo?.invalid && submitted) || (nomeInsumo?.dirty && nomeInsumo?.invalid)}">
          </p-autocomplete>
          <label for="nome_insumo">Nome do Insumo</label>
        </p-float-label>
        @if ((nomeInsumo?.invalid && submitted) || (nomeInsumo?.dirty && nomeInsumo?.invalid)) {
          <small
          class="p-error">Selecione um produto.</small>
        }
      </div>

      <div class="p-col-12 p-md-3 p-d-flex p-flex-column p-jc-center">
        <p-float-label>
          <p-inputnumber id="preco_insumo" mode="decimal" [useGrouping]="false" formControlName="quantidadeInsumo">
          </p-inputnumber>
          <label for="preco_insumo">Quantidade</label>
        </p-float-label>
        @if ((quantidadeInsumo?.invalid && submitted) || (quantidadeInsumo?.dirty && quantidadeInsumo?.invalid)) {
          <small
          class="p-error">Informe a quantidade do insumo</small>
        }
      </div>

      <div class="p-col-12 p-md-2 p-d-flex p-flex-column p-jc-center">
        <p-float-label>
          <p-select inputId="tipoInsumo" [options]="tiposInsumos" optionLabel="nome"
          formControlName="tipoInsumo" optionValue="codigo"></p-select>
          <label for="preco_insumo">Tipo</label>
        </p-float-label>
      </div>

      <div class="p-col-12 p-md-2 p-d-flex p-ai-center">
        <p-checkbox name="insumo_ativo" [binary]="true" inputId="insumo_ativo" formControlName="insumoAtivo"></p-checkbox>
        <label for="insumo_ativo" class="p-ml-2">Ativo</label>
      </div>

      <div class="p-col-12 p-lg-1 p-md-12 p-d-flex p-ai-center p-jc-end p-jc-md-start p-jc-lg-end p-sm-end p-md-start p-xl-end">
        <p-button label="Vincular" (onClick)="vincularInsumo()" icon="pi pi-plus" iconPos="right"></p-button>
      </div>
    </div>

    <br />

    <p-divider>
      <h6>Insumos Vinculados</h6>
    </p-divider>

    <div class="p-col-12">
      <app-table-responsive [data]="cadastroProdutoService.cadastroProduto.insumos" [headers]="headersInsumos"
      (onEdit)="onEdit($event)" (onDelete)="onDelete($event)"></app-table-responsive>
    </div>

    <ng-template #footer>
      <div class="p-grid p-nogutter p-justify-between">
        <p-button label="Voltar" (onClick)="prevPage()" icon="pi pi-angle-left" styleClass="p-button-danger"></p-button>
        <p-button label="Avançar" [disabled]="cadastroProdutoService.cadastroProduto.insumos?.length === 0"
        (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
      </div>
    </ng-template>
  </p-card>
</form>
