<form [formGroup]="formCadastroInsumo">
  <p-card>
    <h5>Vinculação de Insumos</h5>
    <br />

    <input type="text" formControlName="idInsumo" hidden/>

    <div class="p-grid p-fluid">
      <div class="p-col-12 p-md-4">
        <span class="p-float-label">
          <input type="text" formControlName="nomeInsumo" hidden />
         
          <p-autoComplete [suggestions]="suggestions" (completeMethod)="search($event)" [dropdown]="true"
            (onSelect)="selecionaInsumo($event)" field="nome" [required]="true" formControlName="autoCompleteNomeInsumo"
            [forceSelection]="true"></p-autoComplete>
          <label for="nome_insumo">Nome do Insumo</label>
          <small *ngIf="nomeInsumo?.errors?.required" id="nome_insumo-help" class="p-error">Selecione um produto.</small>
        </span>
      </div>

      <div class="p-col-12 p-md-3">
        <span class="p-float-label">
          <p-inputNumber id="preco_insumo" mode="currency" currency="BRL" locale="pt-BR" formControlName="precoInsumo">
          </p-inputNumber>
          <label for="preco_insumo">Preço</label>
        </span>
      </div>

      <div class="p-col-12 p-md-2">
        <p-checkbox name="insumo_ativo" [binary]="true" label="Ativo" formControlName="insumoAtivo"> </p-checkbox>
      </div>

      <p-button label="Vincular" (onClick)="vincularInsumo()" icon="pi pi-plus" iconPos="right"
        [disabled]="!formCadastroInsumo.valid"></p-button>
    </div>

    <br />

    <p-divider>
      <h6>Insumos Vinculados</h6>
    </p-divider>

    <div class="p-col-12">
      <app-table-responsive [data]="insumosVinculados" [headers]="headersInsumos" (onEdit)="onEdit($event)"
        (onDelete)="onDelete($event)"></app-table-responsive>
    </div>

    <ng-template pTemplate="footer">
      <div class="p-grid p-nogutter p-justify-between">
        <p-button label="Voltar" (onClick)="prevPage()" icon="pi pi-angle-left" styleClass="p-button-danger"></p-button>
        <p-button label="Avançar" [disabled]="insumosVinculados.length === 0" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
      </div>
    </ng-template>
  </p-card>
</form>
