<p-confirmdialog header="Confirmação" icon="pi pi-exclamation-triangle" acceptLabel="Sim" rejectLabel="Não"
defaultFocus="reject" rejectButtonStyleClass="p-button-danger"></p-confirmdialog>

<div class="p-col-12" >
<form [formGroup]="formEncomenda" (ngSubmit)="onSubmit(formEncomenda)">

  <input type="text" formControlName="idEncomenda" hidden />
  <p-card>
    <div class="p-col-12 p-md-12 p-d-flex p-jc-center p-jc-md-start p-jc-lg-start p-sm-end p-md-start p-xl-end">
      <h5>Cadastro de Encomendas</h5>
    </div>
    <div class="p-grid p-fluid">
      <div class="p-col-12">
        <p-float-label>
          <p-datepicker [showIcon]="true" inputId="data_entrega" [showTime]="true" dateFormat="dd/mm/yy"
          formControlName="dataEntrega"></p-datepicker>
          <label for="data_entrega">Data Entrega</label>
        </p-float-label>
        @if (dataEntrega?.errors?.required) {
          <small id="data_entrega-help" class="p-error">Informe a data da
          entrega</small>
        }
        </div>
      <div class="p-col-12">
        <app-cliente-encomenda (onSelectCliente)="SelecionaCliente($event)"></app-cliente-encomenda>
        <app-produtos-encomenda (onSelectProduto)="SelecionaProduto($event)"></app-produtos-encomenda>
      </div>
      <div class="p-col-12">
        <div class="p-col-12 p-md-5 p-lg-4 p-d-flex">
          <button pButton pRipple type="button" (click)="cancel()"
          class="p-button-raised p-button-danger p-m-2"><span pButtonLabel>Cancelar</span><i class="pi pi-times" pButtonIcon></i></button>
          <button pButton pRipple type="submit" class="p-button-raised p-m-2"
          [disabled]="isValid()"><span pButtonLabel>Salvar</span><i class="pi pi-check" pButtonIcon></i></button>
        </div>
      </div>

    </div>
  </p-card>
</form>
</div>