<div class="p-col-4 p-sm-4 p-md-4 p-xl-4">
  <div class="card overview-box blue">
    <div class="card-header">
      <h6>Bounce Rate</h6>

    </div>
    <div class="overview-content">
      <h3>55.95%</h3>
      <div class="overview-graph">
        <span style="height: 12px;">
          <span class="graph-tooltip">12</span>
        </span>
        <span style="height: 40px;">
          <span class="graph-tooltip">40

          </span>
        </span>
        <span style="height: 26px;">
          <span class="graph-tooltip">26
          </span>
        </span>
        <span style="height: 17px;"><span class="graph-tooltip">17
          </span>
        </span>
        <span style="height: 36px;"><span class="graph-tooltip">36
          </span>
        </span>
        <span style="height: 51px;">
          <span class="graph-tooltip">51
          </span>
        </span>
      </div>
    </div>
    <div class="overview-footer">
      <span>
        <i class="pi pi-arrow-up"> </i>
        <span>6%</span> increase in today sales</span>
    </div>
  </div>
</div>
