.layout-topbar {
  background-color: var(--surface-a);
  padding: 0;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 997;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid var(--surface-d);
  display: flex;
  align-items: center;
  padding: 0 35px;
}

.layout-topbar .menu-button {
  display: none;
  color: var(--text-color);
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  transition: background-color 0.2s;
  cursor: pointer;
}

.layout-topbar .menu-button:hover {
  background-color: var(--surface-c);
}

.layout-topbar .menu-button i {
  font-size: 24px;
  line-height: inherit;
}

.layout-topbar .logo img {
  width: 180px;
}

.layout-topbar .logo:focus {
  outline: 0 none;
  transition: box-shadow 0.2s;
  box-shadow: 0 0 0 0.2rem #bbdefb;
}

.layout-topbar .app-theme {
  background-color: var(--primary-color);
  color: var(--primary-color-text);
  padding: 0.5rem;
  border-radius: 4px;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
  width: 39px;
  height: 39px;
  margin-left: 70px;
}

.layout-topbar .app-theme img {
  width: 25px;
}

.layout-topbar .topbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
  margin-left: auto;
  display: flex;
}

.layout-topbar .topbar-menu>li {
  height: 70px;
  line-height: 70px;
}

.layout-topbar .topbar-menu>li>a {
  text-decoration: none;
  color: var(--text-color);
  min-width: 120px;
  font-size: 16px;
  display: block;
  text-align: center;
  user-select: none;
  line-height: 68px;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.2s;
  cursor: pointer;
}

.layout-topbar .topbar-menu>li>a:hover,
.layout-topbar .topbar-menu>li>a:focus {
  border-bottom-color: var(--primary-color);
}

.layout-topbar .topbar-menu>li>a:focus {
  z-index: 1;
  outline: 0 none;
  transition: box-shadow 0.2s;
  box-shadow: inset 0 0 0 0.2em #bbdefb;
}

.layout-topbar .topbar-menu>li.topbar-submenu {
  position: relative;
}

.layout-topbar .topbar-menu>li.topbar-submenu>ul {
  position: absolute;
  transform-origin: top;
  top: 70px;
  right: 0;
  width: 275px;
  max-height: 400px;
  background-color: var(--surface-f);
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
  overflow: auto;
  list-style-type: none;
  padding: 1rem;
  margin: 0;
  border-radius: 3px;
}

.layout-topbar .topbar-menu>li.topbar-submenu>ul>li {
  line-height: 1;
}

.layout-topbar .topbar-menu>li.topbar-submenu>ul>li.topbar-submenu-header {
  display: block;
  color: var(--text-color-secondary);
  font-weight: 600;
  user-select: none;
  padding: 1.5rem 0 1rem 0;
  font-size: 0.857rem;
  text-transform: uppercase;
}

.layout-topbar .topbar-menu>li.topbar-submenu>ul>li.topbar-submenu-header:first-child {
  padding-top: 1rem;
}

.layout-topbar .topbar-menu>li.topbar-submenu>ul a {
  text-decoration: none;
  color: var(--text-color);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  user-select: none;
  border-radius: 3px;
  cursor: pointer;
}

.layout-topbar .topbar-menu>li.topbar-submenu>ul a:hover {
  background-color: var(--surface-c);
}

.layout-topbar .topbar-menu>li.topbar-submenu>ul a span {
  margin-left: 0.5rem;
}

.layout-topbar .topbar-menu>li.topbar-submenu>ul a i {
  font-size: 18px;
  color: var(--text-color-secondary);
}

.layout-topbar .topbar-menu>li.topbar-submenu>ul a img {
  width: 32px;
  margin-right: 0.5rem;
}

.layout-topbar .topbar-menu .theme-badge {
  padding: 2px 4px;
  vertical-align: middle;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  font-size: 11px;
  position: relative;
  top: -1px;
}

.layout-topbar .topbar-menu .theme-badge.material {
  background: linear-gradient(to bottom, #2196f3, #2196f3);
}

.layout-topbar .topbar-menu .theme-badge.bootstrap {
  background: linear-gradient(to bottom, #563d7c, #966bd8);
}

.layout-topbar .topbar-menu .theme-badge.darkmode {
  background: linear-gradient(to bottom, #141d26, #5a6067);
}

@media screen and (max-width: 960px) {
  .layout-wrapper.layout-news-active .layout-content {
    padding-top: 180px;
  }

  .layout-wrapper.layout-news-active .layout-sidebar {
    top: 0;
    height: 100%;
  }

  .layout-wrapper.layout-news-active .layout-news-button {
    opacity: 0;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
  }

  .layout-topbar {
    height: 110px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
  }

  .layout-topbar .menu-button {
    display: block;
  }

  .layout-topbar .logo img {
    width: 150px;
  }

  .layout-topbar .app-theme {
    margin-left: 0;
    margin-right: 23px;
  }

  .layout-topbar .topbar-menu {
    background-color: var(--surface-a);
    width: 100%;
    height: 40px;
    margin: 0;
    border-top: 1px solid var(--surface-d);
  }

  .layout-topbar .topbar-menu>li {
    height: 40px;
    line-height: 40px;
    width: 25%;
  }

  .layout-topbar .topbar-menu>li>a {
    padding-bottom: 0;
    height: 40px;
    line-height: 38px;
    width: 100%;
    font-size: 12px;
    font-weight: 600;
    min-width: auto;
  }

  .layout-topbar .topbar-menu>li.topbar-submenu>ul {
    top: 40px;
  }

  .layout-content {
    margin-left: 0;
    padding-top: 110px;
  }

  .layout-content .content-section.introduction {
    flex-direction: column;
  }

  .layout-mask {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .layout-mask.layout-mask-active {
    z-index: 998;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    transition: background-color 0.5s;
  }

  .blocked-scroll {
    overflow: hidden;
  }
}

@media screen and (max-width: 640px) {
  .layout-wrapper.layout-news-active .topbar-menu>li.topbar-submenu>ul {
    top: 180px;
  }

  .layout-topbar .topbar-menu>li.topbar-submenu {
    position: static;
  }

  .layout-topbar .topbar-menu>li.topbar-submenu>ul {
    top: 110px;
    position: fixed;
    right: auto;
    left: 0;
    width: 100vw;
  }

  .layout-topbar .menu-button {
    display: block;
  }
}
