<p-confirmDialog header="Confirmação" icon="pi pi-exclamation-triangle" 
acceptLabel="Sim" rejectLabel="Não" defaultFocus="Não" rejectButtonStyleClass="p-button-danger"></p-confirmDialog>
<p-card>
  <div class="p-grid">
    <!-- TODO: Corrigir Responsividade -->
    <div class="p-col-12 p-md-12 p-d-flex p-jc-center p-jc-md-start p-jc-lg-start p-sm-end p-md-start p-xl-end">
      <h5>Cadastro de Produtos</h5>
    </div>

    <div class="p-col-12 p-d-flex p-jc-end p-sm-end p-md-end p-xl-end">
      <button pButton pRipple label="Adicionar" icon="pi pi-plus" [routerLink]="['/produtos/cadastro']"
        routerLinkActive="router-link-exact-active">
      </button>
    </div>

    <div class="p-col-12">
      <app-table-responsive [data]="produtos" [headers]="headers" [isLoading]="isLoading" (onEdit)="onEdit($event)"
        (onDelete)="onDelete($event)"></app-table-responsive>
    </div>
  </div>
</p-card>
