<p-table [value]="data" [paginator]="true" [rows]="pageSize" [showCurrentPageReport]="true"
  currentPageReportTemplate="Mostrando {first} até {last} de {totalRecords} produtos" [rowsPerPageOptions]="[10,25,50]"
  styleClass="p-datatable-responsive">
  <ng-template #header>
    <tr>
      @for (header of headers; track header) {
        <th [pSortableColumn]="header.fieldName"
          [pSortableColumnDisabled]="!header.sortableColumn">
          {{ header.labelColumn }}
          @if (header.sortableColumn) {
            <p-sort-icon [field]="header.fieldName"></p-sort-icon>
          }
        </th>
      }
    </tr>
  </ng-template>
  <ng-template #body let-row>
    <tr>
      @for (header of headers; track header) {
        <td>
          <!-- Skeletons -->
          @if (isLoading && header.typeColumn !== typeColumns.Boolean && header.typeColumn !== typeColumns.ActionsButtons) {
            <p-skeleton
              >
            </p-skeleton>
          }
          @if (isLoading && header.typeColumn === typeColumns.Boolean) {
            <p-skeleton size="2rem" styleClass="p-mr-2">
            </p-skeleton>
          }
          @if (isLoading && header.typeColumn === typeColumns.ActionsButtons) {
            <div class="p-d-flex p-ai-end">
              <p-skeleton size="2rem" styleClass="p-mr-2"></p-skeleton>
              <p-skeleton size="2rem" styleClass="p-mr-2"></p-skeleton>
            </div>
          }

          @if (!isLoading && header.typeColumn === typeColumns.String) {
            <span>{{row[header.fieldName]}}</span>
          }
          @if (!isLoading && header.typeColumn === typeColumns.Currency) {
            <span
            >{{row[header.fieldName] | currency}}</span>
          }
          @if (!isLoading && header.typeColumn === typeColumns.Boolean) {
            <span>
              <p-checkbox name="checkbox-row" [value]="row[header.fieldName]" [(ngModel)]="row[header.fieldName]"
                [binary]="true" [disabled]="header.isDisabled || false"
                (onChange)="header.callback ? header.callback(row) : null">
              </p-checkbox>
            </span>
          }
          @if (!isLoading && header.typeColumn === typeColumns.Date) {
            <span
            >{{row[header.fieldName] | date: 'short'}}</span>
          }
          @if (!isLoading && header.typeColumn === typeColumns.ActionsButtons) {
            <span>
              <button pButton pRipple type="button" class="p-mr-2 p-button-sm"
              (click)="onEditRow(row, $event)"><i class="pi pi-pencil" pButtonIcon></i></button>
              <button pButton pRipple type="button" class="p-button-danger p-button-sm"
              (click)="onDeleteRow(row,$event)"><i class="pi pi-trash" pButtonIcon></i></button>
            </span>
          }
        </td>
      }
    </tr>
  </ng-template>
</p-table>
