<div class="layout-dashboard">
  <div class="p-grid">
    <div class="p-col-12 p-md-12 p-xl-9">
      <div class="p-grid">
        <div class="p-col-12 p-sm-12 p-md-12 p-xl-12">
          <app-card-dashboard></app-card-dashboard>
          <app-card-dashboard></app-card-dashboard>
          <div class="p-col-12">
            <div class="card sale-graph">
              <div class="card-header">
                <h6>Comparação de Vendas</h6>
              </div>
              <app-line-chart [data]="dataLineChart"></app-line-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
