<div class="layout-sidebar" [ngClass]="{'active': active}">
  <div class="layout-menu">
    <div class="menu-category">Inicio</div>
    <div class="menu-items">
      <a>
        Dashboard <p-tag value="Comming Soon" severity="warning"></p-tag>
      </a>
    </div>

    <div class="menu-category">Cadastro</div>
    <div class="menu-items">
      <a [routerLink]=" ['/insumos']" routerLinkActive="router-link-exact-active"
        (click)="onMenuButtonClick($event)">Insumos</a>
    </div>
    <div class="menu-items">
      <a [routerLink]=" ['/produtos']" routerLinkActive="router-link-exact-active"
        (click)="onMenuButtonClick($event)">Produtos</a>
    </div>

    <div class="menu-category">Encomendas</div>
    <div class="menu-items">
      <a [routerLink]=" ['/encomendas']" routerLinkActive="router-link-exact-active"
        (click)="onMenuButtonClick($event)">Encomendas</a>
    </div>

    <div class="menu-category">Configuração</div>
    <div class="menu-items">
      <a>Configuração
        <p-tag value="Comming Soon" severity="warning"></p-tag>
      </a>
    </div>
  </div>
</div>
