<div class="layout-sidebar" [ngClass]="{'active': active}">
  <div class="layout-menu">
    <div class="menu-category">Inicio</div>
    <div class="menu-items">
      <a [routerLink]=" ['/dashboard']" routerLinkActive="router-link-exact-active" (click)="onMenuButtonClick($event)">Dashboard</a>
    </div>

    <div class="menu-category">Cadastro</div>
    <div class="menu-items">
      <a [routerLink]=" ['/produtos']" routerLinkActive="router-link-exact-active" (click)="onMenuButtonClick($event)">Produtos</a>
    </div>
    <div class="menu-items">
      <a [routerLink]=" ['/insumos']" routerLinkActive="router-link-exact-active" (click)="onMenuButtonClick($event)">Insumos</a>
    </div>
  </div>
</div>
